force-app/main/default/flows/AutomaticLeadFollowUpTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignTaskFields</name>
        <label>Assign Task Fields</label>
        <locationX>775</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
    </assignments>
    <description>Creates a task for the user who created the lead, requesting them to contact the customer within 24 hours.</description>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionText</name>
        <dataType>String</dataType>
        <expression>&apos;É necessário entrar em contato com o cliente &apos; + {!$Record.Company} + &apos; até amanhã para oferecer um de nossos serviços.&apos;</expression>
    </formulas>
    <formulas>
        <name>DueDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>SubjectText</name>
        <dataType>String</dataType>
        <expression>&apos;Entrar em contato com o Lead &apos; + {!$Record.Company}</expression>
    </formulas>
    <interviewLabel>Automatic Lead Follow-up Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatic Lead Follow-up Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>Create Task</label>
        <locationX>775</locationX>
        <locationY>530</locationY>
        <inputReference>TaskRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AssignTaskFields</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
