force-app/main/default/flows/CreateProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignProjectFields</name>
        <label>AssignProjectFields</label>
        <locationX>774</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>projectRecords.ProjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectRecords.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectRecords.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectRecords.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DataInicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectRecords.CloseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectRecords.ProjectTechnology__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProjectTechnology__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectRecords.CustoEstimadoProjeto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CustoEstimadoProjeto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectRecords.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectRecords.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProject</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CreateProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateProject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateProject</name>
        <label>Create Project</label>
        <locationX>773</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>GetProject</targetReference>
        </connector>
        <inputReference>projectRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetProject</name>
        <label>GetProject</label>
        <locationX>1021</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDevelopersProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AssignDevelopersProject</name>
        <label>Assign Developers To Project</label>
        <locationX>1266</locationX>
        <locationY>578</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>GetProject.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityDeveloper__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AssignProjectFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>projectRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
