force-app/main/default/flows/NewLeadFromCNPJa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendRequest</name>
        <label>Send Request</label>
        <locationX>1310</locationX>
        <locationY>383</locationY>
        <actionName>CNPJOpenAPIService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VerifyResponse</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>Cnpj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CNPJOpenAPIService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>LeadId</assignToReference>
            <name>leadId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>LeadName</assignToReference>
            <name>name</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Result</assignToReference>
            <name>resultado</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>IsNewLead</name>
        <label>Is New Lead?</label>
        <locationX>1079</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>ScreenExistingLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendRequest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyResponse</name>
        <label>Verify Response</label>
        <locationX>1303</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>VerifyStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>API Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenApiError</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyStatus</name>
        <label>Verify Status</label>
        <locationX>1303</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>SuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInactiveCnpj</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <description>Create Leads automatically through the CNPJá integration.</description>
    <environments>Default</environments>
    <interviewLabel>NewLeadFromCNPJá {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Lead From CNPJá</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>1088</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsNewLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cnpj</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ScreenApiError</name>
        <label>Screen Api Error</label>
        <locationX>830</locationX>
        <locationY>547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApiErrorTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(202, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Erro na Requisição.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApiErrorText</name>
            <fieldText>&lt;p&gt;Infelizmente, a API retornou um CNPJ inválido para o número informado: &lt;em&gt;{!Cnpj}&lt;/em&gt;.&lt;/p&gt;&lt;p&gt;Por favor, verifique se o dígito verificador está correto.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenExistingLead</name>
        <label>Screen Existing Lead</label>
        <locationX>831</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApiErrorTitle_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(202, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;CNPJ já cadastrado.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApiErrorText_0</name>
            <fieldText>&lt;p&gt;O CNPJ &lt;a href=&quot;https://mindful-moose-fjfzlk-dev-ed.trailblaze.lightning.force.com/lightning/r/Lead/{!GetLead.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Cnpj} - {!GetLead.Name}&lt;/a&gt; já está criado.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Clique no link acima para ver detalhes do registro.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInactiveCnpj</name>
        <label>Screen Inactive Cnpj</label>
        <locationX>826</locationX>
        <locationY>756</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InactiveCnpjTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(202, 2, 2); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;CNPJ Inativo.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApiInactiveText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Infelizmente, o CNPJ &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Cnpj} &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;está inativo na Receita Federal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNewLead</name>
        <label>Screen New Lead</label>
        <locationX>1087</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Novo Lead&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CnpjHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Digite um CNPJ (apenas números) abaixo para a criação de um Lead automático.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cnpj</name>
            <dataType>String</dataType>
            <fieldText>Cnpj</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Digite o CNPJ com 14 dígitos e apenas números.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Cnpj}) == 14</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1613</locationX>
        <locationY>757</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadCreatedTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 137, 1); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Lead criado com sucesso!&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 141, 31); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApiSuccess</name>
            <fieldText>&lt;p&gt;O Lead&lt;em&gt; &lt;/em&gt;&lt;a href=&quot;https://mindful-moose-fjfzlk-dev-ed.trailblaze.lightning.force.com/lightning/r/Lead/{!LeadId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;{!LeadName}&lt;/em&gt;&lt;/a&gt;&lt;em&gt; foi criado com sucesso!&lt;/em&gt;&lt;/p&gt;&lt;p&gt;Clique no link acima para ver detalhes do registro.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>649</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ScreenNewLead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
