force-app/main/default/flows/SendProjectProposalEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>Send Email</label>
        <locationX>1190</locationX>
        <locationY>142</locationY>
        <actionName>SendProposalWithGeneratedPDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Signed_Document_as_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Proposta Comercial - Stage Consulting</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>CustomerEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendProposalWithGeneratedPDF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Envia Documento de Assinatura ao cliente quando a fase da Oportunidade é alterada para &quot;Formalization&quot;.</description>
    <environments>Default</environments>
    <formulas>
        <name>CustomerEmail</name>
        <dataType>String</dataType>
        <expression>IF(
   ISBLANK({!$Record.AccountId}),
   {!$Record.Lead__r.Email},
   {!$Record.Account.Email__c}
)</expression>
    </formulas>
    <interviewLabel>SendProjectProposalEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Project Proposal Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_Signed_Document_as_True</name>
        <label>Assign Signed Document as True</label>
        <locationX>1458</locationX>
        <locationY>142</locationY>
        <inputAssignments>
            <field>SignedDocument__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>641</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formalization</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SignedDocument__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Prezado(a) cliente,&lt;/p&gt;&lt;p&gt;É com grande satisfação que encaminhamos a proposta referente ao projeto de tecnologia solicitado.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Detalhes da oportunidade:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Nome da Oportunidade:&lt;/strong&gt; {!$Record.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Tecnologia do Projeto:&lt;/strong&gt; {!$Record.ProjectTechnology__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Data de Início:&lt;/strong&gt; {!$Record.DataInicio__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Data de Encerramento:&lt;/strong&gt; {!$Record.CloseDate}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Valor da Proposta:&lt;/strong&gt; R$ {!$Record.Amount}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Segue anexo o documento da proposta para leitura e assinatura. Caso haja qualquer dúvida ou necessidade de ajuste, nossa equipe está à disposição.&lt;/p&gt;&lt;p&gt;Aguardamos a sua confirmação para prosseguirmos com a formalização.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Atenciosamente,&lt;/p&gt;&lt;p&gt;Equipe Stage Consulting&lt;/p&gt;</text>
    </textTemplates>
</Flow>
